<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Index</title>
</head>
<body>
    <div id="site">
        <h1>Web Theater</h1>

        {% for categoria in listaCategorias %}
        <div>
            <hr>
            <h2>{{categoria.get_titulo()}}</h2>
            <img src="{{url_for('static', filename='img/'+ categoria.get_url_img() )}}" alt="" width="100" height="100">
            
            <h3>videos mais curtidos</h3>
            {% for video in categoria.get_videos()%}

            <a href="{{ url_for('videos', id=video.get_id()) }}"><h4>{{ video.get_titulo() }}</h4></a>

            {% endfor %}
        </div>
        
        {% endfor %}
    </div>
</body>
</html>